.btn {
    border: none;
    outline: none;
    background: transparent;
}

.btn_container {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    gap: 10px;
    margin-bottom: 20px;
    font-weight: 900;
}

.search_btn {
    width: 100px;
    border-radius: 10px;
    border: 1px solid rgb(72, 72, 72);
    outline: none;
}

.search_btn:hover {
    background: #000;
    color: #fff;
}

@media screen and (max-width:420px) {
    .btn_container {
        font-size: 10px;
    }
}